<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBasket" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/WCFService/BasketImp"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBasket"
                contract="IBasket" name="BasicHttpBinding_IBasket" />
        </client>
    </system.serviceModel>
</configuration>